<title>Bienvenido {{user.nombre}}</title>
<link rel="stylesheet" href="/css/cursos-user.css">

{{#if user}}

<body>
    <header>
        <div class="logo">
            <img src="/img/logo.png" alt="logo polimericos">
            <div class="text-logo">
                <h1>Polimericos Internacional</h1>
                <p>Equipo profesional en diferentes areas</p>
            </div>
        </div>
        <nav>
            <div class="responsive-menu">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-right-to-bracket"></i>
            </div>
           
        </nav>
        <div class="btn-login">
          <p class="nombre-user" id="open"><i class="fa-solid fa-comment"></i></p>
          <a href="/logout"> <p class="nombre-user"><i class="fa-solid fa-right-from-bracket"></i></p> </a>
         
        </div>
        <div class="scroll-indicator">
        <div class="progress-bar">
        </div>
    </div>
    </header>

    <section class="contenedor-cursos">
        <h4>¿Qué deseas aprender hoy?, {{user.nombre}}</h4>
        <p>Tendrás mas de 100 cursos gratuitos donde te explicaremos metodologias de pintado.</p>
        <div class="tarjeta-busqueda">
            
            <div class="container-input">
                <input type="search" placeholder="Busca algun curso" name="text" class="input">
                <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                  <path d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z" fill-rule="evenodd"></path>
              </svg>
              </div>

              <div class="cantidad">
                Cantidad de cursos: <span>{{contador_cursos}}</span>
              </div>
      </div>

        <div class="bloque">
                {{#if playlist}}
            {{#each playlist}}
                <div class="card">
                    <div class="first-content">
                        <div class="image">
                            <img src="/img/login-r.webp" alt="" />
                        </div>
                        <div class="titulo">
                            <h2>{{nombre}}</h2>
                            <p>{{descripcion}}</p>
                        </div>
                       <div class="opciones_list">
                        <a href="/aprendizaje/cursosUser/{{id}}"><i class="fa-solid fa-up-right-from-square"></i></a>
                        
                       </div>
                    </div>
                </div>
 {{/each}}

            </div>
           
            {{else}}
            <div class="empty-list">
                <div class="icon-list">
                    <i class="fa-regular fa-circle-xmark"></i>
                </div>

                <p>Oh... No hay playlists que mostrar por ahora. </p>
            </div>

            {{/if}}


    </section>

    <footer>
        <div class="content">
          <div class="top">
            <div class="logo-details">
              <i class="fab fa-slack"></i>
              <span class="logo_name">Polimericos Dial de Colombia</span>
            </div>
            <div class="media-icons">
              <a href="https://web.facebook.com/POLIMERICOSINTERNACIONAL" aria-label="facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/polimericosddc/" aria-label="instagram"><i class="fab fa-instagram"></i></a>
              <a href="https://api.whatsapp.com/send?phone=%2B573058517530&context=ARANaxkEnQzLhYJQwqzUUrVnzGz_ND2E2lkcNPPQSc7bclRL4ns5O6hf50HWQQGwz6wGi8Fa2dS-9ZtdN_-FZ0q8zCLydwAx0pLjH_ZWEB7eM1avwYaw3n-zooYbCoRuFfqK8bwS2xd714YHoiotcMbStQ&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwZXh0bgNhZW0CMTAAAR0SkEeadJIgKA-sGqza4lcq4OaX_yiD1rtJ5D_gRLiKvc0lhoRFsY9rbaY_aem_Ae5IlTcH9Kl9HACHhNtg8iombYGY1Wg5sOkVDryMXN3fsOd05PZ4wEwiTVNYZfeHSQNGsG7dN7KWOW6EUWiU8kZf" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
              <a href="https://www.tiktok.com/@polimericosddc" aria-label="tiktok"><i class="fab fa-tiktok"></i></a>
              <a href="https://www.youtube.com/@POLIMERICOSDDC" aria-label="youtube"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
          <div class="link-boxes">
            <ul class="box">
              <li class="link_name">Empresa</li>
              <li><a href="#inicio">Inicio</a></li>
              <li><a href="#nosotros">Nosotros</a></li>
              <li><a href="#servicios">Servicios</a></li>
              <li><a href="#contacto">Contacto</a></li>
            </ul>
            <ul class="box">
              <li class="link_name">Login</li>
              <li><a href="#">Registrarme</a></li>
              <li><a href="#">Iniciar sesion</a></li>
            </ul>
            <ul class="box">
              <li class="link_name">Cursos gratuitos</li>
              <li><a href="#">Cursos virtuales</a></li>
            </ul>
            <ul class="box input-box">
              <li class="link_name">Subscribete</li>
              <li><input type="text" placeholder="Ingresa tu email"></li>
              <li><input type="button" value="Subscribirme"></li>
            </ul>
          </div>
        </div>
        <div class="bottom-details">
          <div class="bottom_text">
            <span class="copyright_text">Copyright © 2024 <a href="#">Polimericos Internacional</a>| Hecho con <3 por SoluctionCode equipo de desarrollo de software</span>
            <span class="policy_terms">
              <a href="#">Politica de privacidad</a>
              <a href="#">Terminos & condiciones</a>
            </span>
          </div>
        </div>

        <div id="modal_container" class="modal-container">
        <div class="modal">
          <div class="titulos">
            <div class="loader"></div><h1>Registrar testimonio</h1>
          </div>
          
          <p>
           Llena correctamente el formulario para poder publicar tu testimonio
          </p>
          <br>
          <form action="/usuario/testimonio-user" method="post">
            
            <div class="input-group">
                        <label class="label">Comentario:</label>
                        <input autocomplete="off" name="comentario" id="Email" class="input1" type="text">
                    </div>
    
           
              <div class="grupo-btn-modal">
            <a id="close" type="reset">Cancelar</a>
            <button id="open">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        fill="currentColor"
                        d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <span>Crear</span>
              </button>
              </div>
           
          </form>
         
        </div>
      </div>
  <script src="/js/usuario.js"></script>
</body>
{{else}}
<div class="empty-list">
                <div class="icon-list">
                    <i class="fa-regular fa-circle-xmark"></i>
                </div>

                <p>Oh, oh Debes <a href="/autenticacion">iniciar sesion</a> primero </p>
            </div>

{{/if}}

